@charset "UTF-8";
/*  INSTALACION SCSS

1.- Instalar nodejs
2.- Instalar npm
3.- Ingresar al directorio del repositorio:
    Iniciar el npm, con npm init
    Instalar el nodemon: npm install -D node-sass nodemon
4.- Crear la carpeta SCSS y CSS y sus archivos respectivos (style.css & style.scss)
5.- Editar el package.json e insertar los lineas:
    "build-css": "node-sass --include-path scss scss/prueba.scss css/pruebacss.css",
    "watch-css": "nodemon -e scss -x \"npm run build-css\""
    Donde se indica cuál será el archivo inicial de SCSS y adónde va a compilar el .CSS
6.- Compilar con npm: run watch-css
    sass --watch scss/style.scss css/style.css          */
/******************************************************************************MENU***************************************************************************/
.cantidad2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cantidad2 div p {
  margin: auto;
  padding-bottom: 10px;
}
.fixC {
  margin-top: -5px;
}

.shoC thead .column-1 {
  width: 25%;
}
.shoC thead .column-2 {
  width: 30%;
}
.shoC thead .column-3 {
  width: 15%;
}
.shoC thead .column-4 {
  width: 15%;
}
.shoC thead .column-4 {
  width: 15%;
}
.shoC tbody .column-1 {
  width: 25%;
  height: 100px !important;
  padding: 0;
}
.shoC tbody .column-1 img {
  height: 90px;
  margin-left: 20px;
}
.shoC tbody .column-2 {
  width: 30%;
}
.shoC tbody .column-3 {
  width: 15%;
}
.shoC tbody .column-4 {
  width: 15%;
}
.shoC tbody .column-5 {
  width: 15%;
}
.botonFa {
  width: 100px !important;
  margin-left: 10px !important;
  height: 70px !important;
  visibility: hidden;
}

.disappear1a:hover .botonFa {
  visibility: visible;
}

.disappear2a:hover .botonFa {
  visibility: visible;
}

.disappear3a:hover .botonFa {
  visibility: visible;
}

.notification {
  position: relative;
  display: inline-block;
}
.notification .cirC {
  position: absolute;
  top: -1px;
  right: 8px;
  border-radius: 50%;
  background-color: white;
  color: #a044a0;
  font-size: 20px;
  border: 1px solid #a047a0;
  -webkit-animation: glow2 1s ease-in-out infinite alternate;
  -moz-animation: glow2 1s ease-in-out infinite alternate;
  animation: glow2 1s ease-in-out infinite alternate;
}
.notification .sizeC {
  font-size: 220%;
  color: #c0a78f;
  border-color: red;
}
.notification .sizeC:hover {
  color: #bd7abd;
}
.notification .sizeC2 {
  font-size: 200%;
  color: #c0a78f;
}

.btn {
  box-shadow: none !important;
}

.favoriteF, .favoriteM, .favoriteN, .escon {
  color: #c0a78f;
}

.favorite:hover, .favorite2:hover, .escon:hover, .favoriteF:hover, .favoriteM:hover, .favoriteN:hover {
  color: #bd7abd;
}

.escon {
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 4px #a047a0, 0 0 5px #a047a0, 0 0 7px #a047a0, 0 0 7px #a047a0, 0 0 9px #a047a0;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 7px #f5ece3, 0 0 10px #f5ece3, 0 0 13px #f5ece3, 0 0 15px #f5ece3, 0 0 17px #f5ece3, 0 0 20px #f5ece3;
  }
}
@-webkit-keyframes glow2 {
  from {
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 8px #a047a0, 0 0 10px #a047a0, 0 0 13px #a047a0, 0 0 15px #a047a0, 0 0 17px #a047a0;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 7px #f5ece3, 0 0 10px #f5ece3, 0 0 13px #f5ece3, 0 0 15px #f5ece3, 0 0 17px #f5ece3, 0 0 20px #f5ece3;
  }
}
/*Tablet Style*/
@media only screen and (min-width: 421px) and (max-width: 960px) {
  .product {
    height: 220px !important;
  }
}
.table-active {
  background-color: red;
}

.example .btn-toggle {
  top: 50%;
  transform: translateY(-50%);
}

.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #85bb65;
}

.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}

.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}

.btn-toggle:before {
  content: "Off";
  left: -4rem;
}

.btn-toggle:after {
  content: "On";
  right: -4rem;
  opacity: 0.5;
}

.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}

.btn-toggle.active {
  transition: background-color 0.25s;
}

.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}

.btn-toggle.active:before {
  opacity: 0.5;
}

.btn-toggle.active:after {
  opacity: 1;
}

.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}

.btn-toggle.btn-sm:before {
  text-align: right;
}

.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0;
}

.btn-toggle.btn-sm.active:before {
  opacity: 0;
}

.btn-toggle.btn-sm.active:after {
  opacity: 1;
}

.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  display: none;
}

.btn-toggle:before,
.btn-toggle:after {
  color: #85bb65;
}

.btn-toggle.active {
  background-color: #75AADB;
}

.btn-toggle.btn-sm {
  margin: 0 0.5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
}

.btn-toggle.btn-sm:focus,
.btn-toggle.btn-sm.focus,
.btn-toggle.btn-sm:focus.active,
.btn-toggle.btn-sm.focus.active {
  outline: none;
}

.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  width: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}

.btn-toggle.btn-sm:before {
  content: "USD";
  left: -0.5rem;
}

.btn-toggle.btn-sm:after {
  content: "ARS";
  right: -0.5rem;
  opacity: 0.5;
}

.btn-toggle.btn-sm > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}

.btn-toggle.btn-sm.active {
  transition: background-color 0.25s;
}

.btn-toggle.btn-sm.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}

.btn-toggle.btn-sm.active:before {
  opacity: 0.5;
}

.btn-toggle.btn-sm.active:after {
  opacity: 1;
}

.btn-toggle.btn-sm.btn-sm:before,
.btn-toggle.btn-sm.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}

.btn-toggle.btn-sm.btn-sm:before {
  text-align: right;
}

.btn-toggle.btn-sm.btn-sm:after {
  text-align: left;
  opacity: 0;
}

.btn-toggle.btn-sm.btn-sm.active:before {
  opacity: 0;
}

.btn-toggle.btn-sm.btn-sm.active:after {
  opacity: 1;
}

.btn-toggle.btn-sm.btn-xs:before,
.btn-toggle.btn-sm.btn-xs:after {
  display: none;
}

.btn-toggle.btn-secondary {
  color: #6b7381;
  background: #bdc1c8;
}

.btn-toggle.btn-secondary:before,
.btn-toggle.btn-secondary:after {
  color: #6b7381;
}

.btn-toggle.btn-secondary.active {
  background-color: #ff8300;
}

.test1, .test2, .test3 {
  margin-left: 50px;
  margin-top: -15px;
  visibility: hidden;
}

.disappear1:hover .test1 {
  visibility: visible;
}

.disappear2:hover .test2 {
  visibility: visible;
}

.disappear3:hover .test3 {
  visibility: visible;
}

.fondo {
  background-color: #f5ece3;
}

.bordeC {
  border: 2px solid #a58e78;
}

.carAdd:hover {
  color: #83674c;
}

.borderB {
  border: 1px solid #a58e78;
}

.borderB:hover {
  background-color: #f5ece3;
}

.trashC {
  position: relative;
  width: 65px;
  margin-top: -18px;
  margin-left: 20px;
}

.trashOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
  margin-left: 37px;
}

.trashC:hover .trashOverlay {
  width: 100%;
  background-color: #f5ece3;
}

.trashText {
  background-color: #f5ece3;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding-right: 8px;
  box-shadow: none !important;
  outline: 0 !important;
}

.trash {
  height: 40px;
  width: 40px;
  color: inherit;
  border: none;
  padding: 0;
  background-color: #f5ece3;
  cursor: pointer;
  outline: inherit;
  padding: 6px 8px 4px 8px;
  color: red;
}

.btnTrash {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  box-shadow: none !important;
  outline: 0 !important;
}

#introImg img {
  margin-top: 140px !important;
}

#header .navbar {
  background: linear-gradient(to right, #f5ece3, white);
  position: fixed;
  width: 100%;
  z-index: 16;
}

body {
  background-color: #f5ece3;
}

#header .logo {
  height: 130px !important;
  width: 130px;
}
#header .logo img {
  height: 130px !important;
  width: 130px;
}

/******************************************************************************INTRO***************************************************************************/
#introImg {
  width: 100%;
}
#introImg img {
  width: 100%;
}

/******************************************************************************ProductImg***************************************************************************/
#productImg {
  width: 100%;
}
#productImg img {
  width: 100%;
}

/******************************************************************************Productos***************************************************************************/
.botonNow {
  border: none;
  outline: 0;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.product {
  height: 90px;
}

#productos {
  display: flex;
  justify-content: center;
}
#productos .row .col-md-6 .card-title {
  text-align: center;
}
#productos .row .col-md-6 .cantidad {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#productos .row .col-md-6 .cantidad2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#productos .row .col-md-6 .cantidad2 div p {
  margin: auto;
  padding-bottom: 8px;
}
#productos .row .col-md-6 .cantidad2 div button {
  padding: 6px, 6px;
}
#productos .row .col-md-6 .d-flex img {
  height: 300px;
}

/******************************************************************************ProductImg2***************************************************************************/
#productImg2 {
  width: 100%;
}
#productImg2 img {
  width: 100%;
}

/******************************************************************************FOOTER***************************************************************************/
#footer {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
#footer .footer {
  background: #152F4F;
  color: white;
}
#footer .footer .links ul {
  list-style-type: none;
}
#footer .footer .links li a {
  color: white;
  transition: color 0.2s;
}
#footer .footer .links li a:hover {
  text-decoration: none;
  color: #4180CB;
}
#footer .footer .about-company i {
  font-size: 25px;
}
#footer .footer .about-company a {
  color: white;
  transition: color 0.2s;
}
#footer .footer .about-company a:hover {
  color: #4180CB;
}
#footer .footer .location i {
  font-size: 18px;
}
#footer .footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.ajusteCol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
