
.cantidad2{

    display: flex;
    justify-content: center;
    align-items: center;
    div{
        // padding: 0;
        // margin: 0;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        
        // height: 10px;
        p{
            margin: auto;
            padding-bottom: 10px;
        }
        button{
            // padding: 6px, 6px;
        }
    }
}

.fixC{
    margin-top: -5px;
}

.shoC{
    thead{
        .column-1{
            width: 25%;
        }
        .column-2{
            width: 30%;
        }
        .column-3{
            width: 15%;
        }
        .column-4{
            width: 15%;
        }
        .column-4{
            width: 15%;
        }
    }
    tbody{
        .column-1{
            width: 25%;
            height: 100px !important;
            padding: 0;
            img{
                height: 90px;
                margin-left: 20px;
            }
        }
        .column-2{
            width: 30%;
            div{

                p{

                }
                
            }
        }
        .column-3{
            width: 15%;

            div{

                p{

                }
                
            }
        }
        .column-4{
            width: 15%;
            div{
                // margin-top: 2px
            }
        }
        .column-5{
            width: 15%;
            div{
                // margin-top: 10px
            }
        }
    }
}

.botonFa{
    // width: 100px !important;
    // margin-left: 10px !important;
    // height: 70px !important;
    // visibility: hidden ;
}

// .disappear1a:hover .botonFa{
    
//     visibility: visible;
//   }
// .disappear2a:hover .botonFa{
    
//     visibility: visible;
//   }
//   .disappear3a:hover .botonFa{
    
//     visibility: visible;
//   }




.notification{
    // background-color: #555;
    // color: white;
    // text-decoration: none;
    // padding: 15px 26px;
    position: relative;
    display: inline-block;
    // border-radius: 2px;
    .cirC{
        position: absolute;
        top: -1px;
        right: 8px;
        // padding: 5px 10px;
        border-radius: 50%;
        background-color: white;
        color: rgb(160, 68, 160);
        font-size: 20px;
        border: 1px solid rgb(160, 71, 160);
        -webkit-animation: glow2 1s ease-in-out infinite alternate;
        -moz-animation: glow2 1s ease-in-out infinite alternate;
        animation: glow2 1s ease-in-out infinite alternate;
    }
    .sizeC{
        font-size: 220%;
        color:  #c0a78f;
        border-color: red;
    }
    .sizeC:hover{
        color:  rgb(189, 122, 189);
    }
    .sizeC2{
        font-size: 200%;
        color:  #c0a78f;

    }
}
.btn {
    box-shadow: none !important;

  }
  .favoriteF,.favoriteM,.favoriteN,.escon{
    color:  #c0a78f;
  }
//   .btn:hover{
//     color:  #977a5e;
    
//   } 
  .favorite,.favorite2,.escon,.favoriteF,.favoriteM,.favoriteN, .addRemoveFront{
    &:hover {
        color:  rgb(189, 122, 189);
      }
  } 
//   .favorite2:hover{
//     color:  rgb(189, 122, 189);
    
//   } 



.escon {
    // position: relative;
    // display: inline-block;
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 4px rgb(160, 71, 160), 0 0 5px rgb(160, 71, 160), 0 0 7px rgb(160, 71, 160), 0 0 7px rgb(160, 71, 160), 0 0 9px rgb(160, 71, 160);
    }
    
    to {
      text-shadow: 0 0 5px #fff, 0 0 7px #f5ece3, 0 0 10px #f5ece3, 0 0 13px #f5ece3, 0 0 15px #f5ece3, 0 0 17px #f5ece3, 0 0 20px #f5ece3;
    }
  }

  @-webkit-keyframes glow2 {
    from {
      text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 8px rgb(160, 71, 160), 0 0 10px rgb(160, 71, 160), 0 0 13px rgb(160, 71, 160), 0 0 15px rgb(160, 71, 160), 0 0 17px rgb(160, 71, 160);
    }
    
    to {
      text-shadow: 0 0 5px #fff, 0 0 7px #f5ece3, 0 0 10px #f5ece3, 0 0 13px #f5ece3, 0 0 15px #f5ece3, 0 0 17px #f5ece3, 0 0 20px #f5ece3;
    }
  }


@media only screen and (max-width:420px) {
    // #introImg img{
    //     margin-top: 140px !important;
    // }

}




/*Tablet Style*/

@media only screen and (min-width:421px) and (max-width: 960px){
    .product{
        height: 220px !important;
        // background-color: red;
  }
 
}

.table-active{
    background-color: red;
}



////////////test


  .example .btn-toggle {
    top: 50%;
    transform: translateY(-50%);
  }
  .btn-toggle {
    margin: 0 4rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: #85bb65;
  }
  .btn-toggle:focus,
  .btn-toggle.focus,
  .btn-toggle:focus.active,
  .btn-toggle.focus.active {
    outline: none;
  }
  .btn-toggle:before,
  .btn-toggle:after {
    line-height: 1.5rem;
    width: 4rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
  }
  .btn-toggle:before {
    content: "Off";
    left: -4rem;
  }
  .btn-toggle:after {
    content: "On";
    right: -4rem;
    opacity: 0.5;
  }
  .btn-toggle > .handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left 0.25s;
  }
  .btn-toggle.active {
    transition: background-color 0.25s;
  }
  .btn-toggle.active > .handle {
    left: 1.6875rem;
    transition: left 0.25s;
  }
  .btn-toggle.active:before {
    opacity: 0.5;
  }
  .btn-toggle.active:after {
    opacity: 1;
  }
  .btn-toggle.btn-sm:before,
  .btn-toggle.btn-sm:after {
    line-height: -0.5rem;
    color: #fff;
    letter-spacing: 0.75px;
    left: 0.4125rem;
    width: 2.325rem;
  }
  .btn-toggle.btn-sm:before {
    text-align: right;
  }
  .btn-toggle.btn-sm:after {
    text-align: left;
    opacity: 0;
  }
  .btn-toggle.btn-sm.active:before {
    opacity: 0;
  }
  .btn-toggle.btn-sm.active:after {
    opacity: 1;
  }
  .btn-toggle.btn-xs:before,
  .btn-toggle.btn-xs:after {
    display: none;
  }
  .btn-toggle:before,
  .btn-toggle:after {
    color: #85bb65;
  }
  .btn-toggle.active {
    background-color: #75AADB
  }

  .btn-toggle.btn-sm {
    margin: 0 0.5rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
  }
  .btn-toggle.btn-sm:focus,
  .btn-toggle.btn-sm.focus,
  .btn-toggle.btn-sm:focus.active,
  .btn-toggle.btn-sm.focus.active {
    outline: none;
  }
  .btn-toggle.btn-sm:before,
  .btn-toggle.btn-sm:after {
    line-height: 1.5rem;
    width: 0.5rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.55rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
  }
  .btn-toggle.btn-sm:before {
    content: "USD";
    left: -0.5rem;
  }
  .btn-toggle.btn-sm:after {
    content: "ARS";
    right: -0.5rem;
    opacity: 0.5;
  }
  .btn-toggle.btn-sm > .handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left 0.25s;
  }
  .btn-toggle.btn-sm.active {
    transition: background-color 0.25s;
  }
  .btn-toggle.btn-sm.active > .handle {
    left: 1.6875rem;
    transition: left 0.25s;
  }
  .btn-toggle.btn-sm.active:before {
    opacity: 0.5;
  }
  .btn-toggle.btn-sm.active:after {
    opacity: 1;
  }
  .btn-toggle.btn-sm.btn-sm:before,
  .btn-toggle.btn-sm.btn-sm:after {
    line-height: -0.5rem;
    color: #fff;
    letter-spacing: 0.75px;
    left: 0.4125rem;
    width: 2.325rem;
  }
  .btn-toggle.btn-sm.btn-sm:before {
    text-align: right;
  }
  .btn-toggle.btn-sm.btn-sm:after {
    text-align: left;
    opacity: 0;
  }
  .btn-toggle.btn-sm.btn-sm.active:before {
    opacity: 0;
  }
  .btn-toggle.btn-sm.btn-sm.active:after {
    opacity: 1;
  }
  .btn-toggle.btn-sm.btn-xs:before,
  .btn-toggle.btn-sm.btn-xs:after {
    display: none;
  }
  .btn-toggle.btn-secondary {
    color: #6b7381;
    background: #bdc1c8;
  }
  .btn-toggle.btn-secondary:before,
  .btn-toggle.btn-secondary:after {
    color: #6b7381;
  }
  .btn-toggle.btn-secondary.active {
    background-color: #ff8300;
  }
  

  .test1, .test2, .test3{
    //   margin-left: 50px;
    //   margin-top: -15px;
    // visibility: hidden;
  }


  .disappear1:hover .test1{
    
    visibility: visible;
  }
.disappear2:hover .test2{
    
    visibility: visible;
  }
  .disappear3:hover .test3{
    
    visibility: visible;
  }