


/*  INSTALACION SCSS

1.- Instalar nodejs
2.- Instalar npm
3.- Ingresar al directorio del repositorio:
    Iniciar el npm, con npm init
    Instalar el nodemon: npm install -D node-sass nodemon
4.- Crear la carpeta SCSS y CSS y sus archivos respectivos (style.css & style.scss)
5.- Editar el package.json e insertar los lineas:
    "build-css": "node-sass --include-path scss scss/prueba.scss css/pruebacss.css",
    "watch-css": "nodemon -e scss -x \"npm run build-css\""
    Donde se indica cuál será el archivo inicial de SCSS y adónde va a compilar el .CSS
6.- Compilar con npm: run watch-css
    sass --watch scss/style.scss css/style.css          */


/******************************************************************************MENU***************************************************************************/
// @import'carrito';
@import'carrito2';
@import'icons';
@import'productofinal';
#introImg img{
    margin-top: 140px !important;
    // z-index: -2000;
}


// .fixon {
//     position: static !important;
//     z-index: -3000;
//   }

// #staticBackdrop{
//     position: fixed !important;
 
//     margin: 0px auto !important;

//     margin-top: 50 !important;
//     z-index: 99999; rgb(189, 122, 189)
// }

#header .navbar {
    background: linear-gradient(to right, #f5ece3, white, #f5ece3, white);
    // display: flex !important;
    position: fixed;
    width: 100%;
    z-index: 16;
  }

body{
    background: linear-gradient(to right, #f5ece3, white);
}

#header{
    .logo{
        height: 130px !important;
        width: 130px;
        // border: 1px solid red;
        img{
            height: 130px !important;
            width: 130px;
            // border: 1px solid red;
        }
    }

}


/******************************************************************************INTRO***************************************************************************/

#introImg{
    width: 100%;
    // border: 1px solid red;
    img{
        width: 100%;
    }
}

/******************************************************************************ProductImg***************************************************************************/

.productImg{
    width: 100%;
    // border: 1px solid red;
    img{
        width: 100%;
    }
}

/******************************************************************************Productos***************************************************************************/
.productos, #productImg3 {
    // background-color: white;
    .container{
        background-color: white;
        padding: 50px 0px 50px 0px;
    }
    .row{
        // background-color: white;
        // margin: 0;
        // padding: 0;
    }
}

#productImg2{

}

.btnNoStyle{
    // border: none;
    // outline: 0;
    // padding: 12px;
    color: black;
    background-color:#f5ece3;
    // text-align: center;
    // cursor: pointer;
    width: 100%;
    font-size: 18px;
    // // padding: 0;
    // // margin: 0;
    // width: 120px;
    height: 60px;
    // margin-left: 35px;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.btnNoStyle:hover{
    background-color:  rgb(231, 204, 231);
}

.botonNow {
    // border: none;
    // outline: 0;
    // padding: 12px;
    // color: white;
    // background-color: #000;
    // text-align: center;
    // cursor: pointer;
    // width: 100%;
    // font-size: 18px;
    // border: none;
    // outline: 0;
    // padding: 12px;
    // color: white;
    // background-color: #000;
    // text-align: center;
    // cursor: pointer;
    // width: 100%;
    // font-size: 18px;
    // // padding: 0;
    // // margin: 0;
  }
  .product{
        height: 90px;
        padding: 0;
        margin: 0;
  }

  .product2{
      padding: 0;
  }

.productos{
    
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    .row{
        // border: 1px solid blue;

        .col-md-6{
            .card-title{
                text-align: center;
            }
            .cantidad{
                display: flex;
                justify-content: space-around;
                align-items: center;

            }
            .cantidad2{

                display: flex;
                justify-content: center;
                align-items: center;
                div{
                    // padding: 0;
                    // margin: 0;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    
                    // height: 10px;
                    p{
                        margin: auto;
                        padding-bottom: 8px;
                    }
                    button{
                        padding: 6px, 6px;
                    }
                }



            }
            // border: 1px solid blue;
            .d-flex{
                img{
                    height: 300px;
                }
            }

        }
    }
}
/******************************************************************************ProductImg2***************************************************************************/

#productImg2{
    width: 100%;
    // border: 1px solid red;
    img{
        width: 100%;
    }
}

// #productImg3{
//     width: 100%;
//     // border: 1px solid red;
//     img{
//         width: 100%;
//     }
// }

/******************************************************************************FOOTER***************************************************************************/

#footer{
    // border: 1px solid red;
    margin-top: 0 !important;
    padding-top: 0 !important;
    .footer{
        background: #152F4F;
        color:white;
        
        .links{
          ul {list-style-type: none;}
          li a{
            color: white;
            transition: color .2s;
            &:hover{
              text-decoration:none;
              color:#4180CB;
              }
          }
        }  
        .about-company{
          i{font-size: 25px;}
          a{
            color:white;
            transition: color .2s;
            &:hover{color:#4180CB}
          }
        } 
        .location{
          i{font-size: 18px;}
        }
        .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
      }
}

// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//   }

.ajusteCol{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
/////////////////////

// ESTILO TABLA
#total{
    // margin-left: -10px
}

// .totalM{
//     // margin-left: 10px;
//     // margin-right: 10px;
//     width: 5%;
//     position: relative
    
// }

// .upDown{
//     margin-left:-20px;
//     display: none !important;
//     color: #3c763d;
//     background-color: #dff0d8;
//     border-color: #d6e9c6;
//     display: none !important;
//     position: absolute;
//     top: 100px;
//     z-index: 10000;
//     width: 100%;
// }
