


/*  INSTALACION SCSS

1.- Instalar nodejs
2.- Instalar npm
3.- Ingresar al directorio del repositorio:
    Iniciar el npm, con npm init
    Instalar el nodemon: npm install -D node-sass nodemon
4.- Crear la carpeta SCSS y CSS y sus archivos respectivos (style.css & style.scss)
5.- Editar el package.json e insertar los lineas:
    "build-css": "node-sass --include-path scss scss/prueba.scss css/pruebacss.css",
    "watch-css": "nodemon -e scss -x \"npm run build-css\""
    Donde se indica cuál será el archivo inicial de SCSS y adónde va a compilar el .CSS
6.- Compilar con npm: run watch-css
    sass --watch scss/style.scss css/style.css          */


/******************************************************************************MENU***************************************************************************/
// @import'carrito';
@import'carrito2';
@import'icons';
@import'productofinal';
@import'_footer';
#introImg img{
    margin-top: 140px !important;
    // z-index: -2000;
}


// .fixon {
//     position: static !important;
//     z-index: -3000;
//   }

// #staticBackdrop{
//     position: fixed !important;
 
//     margin: 0px auto !important;

//     margin-top: 50 !important;
//     z-index: 99999; rgb(189, 122, 189)
// }

#header .navbar {
    background: linear-gradient(to right, #f5ece3, white, #f5ece3, white);
    // display: flex !important;
    position: fixed;
    width: 100%;
    z-index: 16;
    // box-shadow: 0 8px 6px -6px black;
    box-shadow:
    0 2.8px 2.2px rgba(188, 147, 192, 0.034),
    0 6.7px 5.3px rgba(137, 96, 141, 0.034),
    0 12.5px 10px rgba(108, 56, 112, 0.034),
    0 22.3px 17.9px rgba(94, 38, 99, 0.034),
    0 41.8px 33.4px rgba(84, 22, 90, 0.034),
    0 100px 80px rgba(57, 11, 61, 0.034);
    .dropdown-item{
        .navbar-toggler:focus,
        .navbar-toggler:active,
        .navbar-toggler-icon:focus {
            outline: none;
            box-shadow: none;
}
    }
  }

body{
    background: linear-gradient(to right, #f5ece3, white);
    // -webkit-animation: glow3 3s ease-in-out infinite alternate;
    // -moz-animation: glow3 3s ease-in-out infinite alternate;
    // animation: glow3 3s ease-in-out infinite alternate;
    // -webkit-animation-name: animation;
    // -webkit-animation-duration: 10s;
    // -webkit-animation-timing-function: ease-in-out;
    // -webkit-animation-iteration-count: infinite;    
    // -webkit-animation-play-state: running;
    
    // animation-name: animation;
    // animation-duration: 10s;
    // animation-timing-function: ease-in-out;
    // animation-iteration-count: infinite;    
    // animation-play-state: running;
    // background-color: #f5ece3;
}

@-webkit-keyframes animation {
    0%     {background-color:#f5ece3;}
    50.0%  {background-color:rgb(218, 186, 218);}
    100.0%  {background-color:rgb(187, 143, 187);}
}

// @keyframes animation {
//     0%     {background-color:red;}
//     50.0%  {background-color:green;}
//     100.0%  {background-color:black;}
// }

@-webkit-keyframes glow3 {
    from {
      background: 0 0 3px #fff, 0 0 3px #fff, 0 0 4px rgb(160, 71, 160), 0 0 5px rgb(160, 71, 160), 0 0 7px rgb(160, 71, 160), 0 0 7px rgb(160, 71, 160), 0 0 9px rgb(160, 71, 160);
    }
    
    to {
        background: 0 0 5px #fff, 0 0 7px #f5ece3, 0 0 10px #f5ece3, 0 0 13px #f5ece3, 0 0 15px #f5ece3, 0 0 17px #f5ece3, 0 0 20px #f5ece3;
    }
  }


#header{
    .logo{
        height: 130px !important;
        width: 130px;
        // border: 1px solid red;
        img{
            height: 130px !important;
            width: 130px;
            // border: 1px solid red;
        }
    }

}


/******************************************************************************INTRO***************************************************************************/

#introImg{
    width: 100%;
    // border: 1px solid red;
    img{
        width: 100%;
    }
}

/******************************************************************************ProductImg***************************************************************************/

.productImg{
    width: 100%;
    // border: 1px solid red;
    img{
        width: 100%;
    }
}

/******************************************************************************Productos***************************************************************************/
.productos, #productImg3 {
    // background-color: white;
    .container{
        background-color: white;
        padding: 50px 0px 50px 0px;
    }
    .row{
        // background-color: white;
        // margin: 0;
        // padding: 0;
    }
}

#productImg2{

}

.btnNoStyle{
    // border: none;
    // outline: 0;
    // padding: 12px;
    color: black;
    background-color:#f5ece3;
    // text-align: center;
    // cursor: pointer;
    width: 100%;
    font-size: 18px;
    // // padding: 0;
    // // margin: 0;
    // width: 120px;
    height: 60px;
    // margin-left: 35px;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.btnNoStyle:hover{
    background-color:  rgb(231, 204, 231);
}
.btnNoStyle2{
    // border: none;
    // outline: 0;
    // padding: 12px;

    // text-align: center;
    // cursor: pointer;

    // // padding: 0;
    // // margin: 0;
    // width: 120px;

    // margin-left: 35px;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.btnNoStyle2:hover{
    background-color:  rgb(231, 204, 231);
    color: black;
}

.colorBrown{
    color: #7e5127 !important;
    // font-weight: bold;
    
}
.colorBrown2{
    color: #7e5127 !important;
    // font-weight: bold;
}

.colorIcon{
    color: rgb(180, 101, 180) !important;
    // font-weight: bold;
}
.colorBrown:hover{
    color: rgb(133, 85, 133) !important;
    // font-weight: bold;
    
}

.botonNow {
    // border: none;
    // outline: 0;
    // padding: 12px;
    // color: white;
    // background-color: #000;
    // text-align: center;
    // cursor: pointer;
    // width: 100%;
    // font-size: 18px;
    // border: none;
    // outline: 0;
    // padding: 12px;
    // color: white;
    // background-color: #000;
    // text-align: center;
    // cursor: pointer;
    // width: 100%;
    // font-size: 18px;
    // // padding: 0;
    // // margin: 0;
  }
  .product{
        height: 90px;
        padding: 0;
        margin: 0;
  }

  .product2{
      padding: 0;
  }

.productos{
    
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    .row{
        // border: 1px solid blue;

        .col-md-6{
            .card-title{
                text-align: center;
            }
            .cantidad{
                display: flex;
                justify-content: space-around;
                align-items: center;

            }
            .cantidad2{

                display: flex;
                justify-content: center;
                align-items: center;
                div{
                    // padding: 0;
                    // margin: 0;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    
                    // height: 10px;
                    p{
                        margin: auto;
                        padding-bottom: 8px;
                    }
                    button{
                        padding: 6px, 6px;
                    }
                }



            }
            // border: 1px solid blue;
            .d-flex{
                img{
                    height: 300px;
                }
            }

        }
    }
}
/******************************************************************************ProductImg2***************************************************************************/

#productImg2{
    width: 100%;
    // border: 1px solid red;
    img{
        width: 100%;
    }
}

// #productImg3{
//     width: 100%;
//     // border: 1px solid red;
//     img{
//         width: 100%;
//     }
// }

/******************************************************************************FOOTER***************************************************************************/



// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//   }

.ajusteCol{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
/////////////////////

// ESTILO TABLA
#total{
    // margin-left: -10px
}

// .totalM{
//     // margin-left: 10px;
//     // margin-right: 10px;
//     width: 5%;
//     position: relative
    
// }

// .upDown{
//     margin-left:-20px;
//     display: none !important;
//     color: #3c763d;
//     background-color: #dff0d8;
//     border-color: #d6e9c6;
//     display: none !important;
//     position: absolute;
//     top: 100px;
//     z-index: 10000;
//     width: 100%;
// }
